
.employ{
    font-family: 'Inconsolata', monospace;

    .smallPlate{
        position: absolute;
        right: 1.5vw;
        margin: 5px;
        padding: 0;
        margin: 0;
        margin-left: auto;
        margin-right: auto;

        .escBtn{
            width: 5vw;
            height: 3.5vw;
            font-size: 1.3vw;
        }
    }

    label {
        display: block;
        margin: 1px;
        padding: 0px;
    }

    .employedListTitle {
        position: absolute;
        top: 7vw;
        right: 53vw;
        font-weight: bolder;
        font-size: 2vw;
    }

    .hireTitle {
        position: absolute;
        top: 7vw;
        left: 2vw;
        font-weight: bolder;
        font-size: 2vw;
    }

    .cost {
        font-style: oblique;
        font-weight: 800;
        display: block;
    }

    select{
        border: 2px outset lightgrey;  

        option{
            background-color: lightgrey;
            font-size: 1vw;
        }
    }

    .hire {
        border: 2px solid black;
        width: 20vw;
        height: fit-content;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        position: absolute;
        top: 10vw;
        padding: 4px;

        button{
            margin: 4px;
        }

        .refresh{
            margin-top: 0.5vw;
            width: 15vw;
            height: 4vh;
            font-size: 1.3vw;
        }

        .name {
            font-weight: 900;
            display: block;
        }
    
        .stat {
            display: block;
        }
    }

    .employedList {
        border: 2px solid black;
        width: 61.77vw;
        height: 80vh;
        top: 10vw;
        right: 0.5vw;
        display: inline-block;
        position: absolute;
        overflow: scroll;
        overflow-x: hidden;

        .employee{
            display: inline-block;
        }

        select {
            max-width: 15vw;
        }

        .name {
            font-weight: 900;
            display: block;
            margin: 1px;
            padding: 0px;
        }
    
        .stat {
            display: block;
            margin: 1px;
            padding: 0px;
        }
    }

    .employee {
        border: 1px solid whitesmoke;
        width: 20vw;
        height: 30vh;
        display: inline-block;
        overflow: scroll;
        padding: 2px;
        overflow-x: hidden;
        select {
            max-width: 10vw;

            option{
                max-width: fit-content;
            }
        }
    }
}

