/*Global Styles*/
@import url('https://fonts.googleapis.com/css?family=Cute+Font|Inconsolata|Indie+Flower|Shadows+Into+Light|Squada+One&display=swap');
    /*Absent Font: "font-family: 'Cute Font', cursive;"
    Planetarial Font: font-family: 'Squada One', cursive;
    Prehistoric Font: font-family: 'Shadows Into Light', cursive; 
    Industrial Font: font-family: 'Indie Flower', cursive;
    Modern Font:font-family: 'Inconsolata', monospace; */
$test: 1px solid black;

button{
  border: 2px outset gray;
  height: 2.5vw;
  width: auto;
  background-color: lightgray;
  border-radius: 3px;

  &:hover{
    background-image: linear-gradient(to bottom right, lightgray 55%, black);
    border: 2px inset gray;
  }
}

body{
  background-color: darken(gainsboro, 10%);
}

  /*Classes*/
  

/*Mining page*/
.master{
  .navigation{
    border: none;
    height: auto;
    width: 10vw;

    button{
      position: relative;
      left: 30%;
    }
  }
}

.infobox{
  border: 3px outset gray;
  float: left;
  background-color: slateblue;
  height: 20vw;
  width: 30vw;
  margin: 1vw;
  overflow-y: scroll;

  .mineItem{
    margin: 1vw;
    padding: 3px;
    margin-left: .1vw;
  }
}

.infobox-large{
  border: 3px outset gray;
  float: left;
  background-color: slateblue;
  height: 30vw;
  width: 30vw;
  margin: 1vw;
  overflow-y: scroll;

  .mineItem{
    margin: 1vw;
    padding: 3px;
    margin-left: .1vw;
  }
}

.nullRow{
  border: 3px outset gray;
  font-size: 1.5vw;
  padding: 2px;
  background-color: lightgray;
  width: fit-content;
  height: 3vw;
  margin-left: auto;
  margin-right: auto;
  
}
  
  /*Homepage*/
.navbar{
  border: 1px solid black;
  height: 5vw;
}

.icon{
  height: 5vw;
  position: relative;
  left: 7px;
}

.title-small{
  font-size: 1.7vw;
  text-align: center;
  border: 3px outset gray;
  width: fit-content;
  padding: 4px;
  position: relative;
  background-color: lightgray;
  
}

.statusBox{
  border: 1px solid blue;
  margin: 5px;
  width: 70vw; 
  height: 37vw;
  position: absolute;
  left: .2vw;
  display: inline-block;
  overflow-y: scroll;

  .title-small{
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .mineItem{
    border: 1px solid black;
    margin: 3px;
    margin-bottom: 4px;
    background-color: darken(slateblue, 10%);
    background-image: linear-gradient(to bottom, darken(slateblue, 10%) 40%, blue);
  }
  
  .materials{
    border: $test;
    margin: 3px;
    font-size: 110%;
    text-align: center;
    background-color: lightgray;
    background-image: linear-gradient(to bottom right, lightgray , slategray);
  }
}

.navigation{
  width: 25vw;
  height: 25vw;
  position: absolute;
  right: 1.5vw;;
  margin: 5px;
  border: $test;

  .plate{
    height: 33%;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    .escBtn{
      width: 5vw;
      height: 3.5vw;
      font-size: 1.3vw;
    }
    
    p{
      width: fit-content;
      font-size: 1.4vw;
      margin: 0px;
      padding: 3px;
      position: relative;
      margin: 5px;
      margin-left: auto;
      margin-right: auto;
      color: rgba(0,0,0,.9);
    }

    button{
      width: auto;
      height: 2.5vw;
      padding: 4px;
      position: relative;
      left: 30%;
    }
  }
  .mineing{
    background-image: url("./resources/mineBackground.png");
    background-repeat: none;
    background-size: 11%;
  }

  .dungeoning{
    background-image: url(./resources/combatBackground.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 50%;
  }

  .stroreing{
    background-image: url(./resources/storeBackground.png);
    background-size: 20%;
    color: black;
  }
}

    /*------- Dropdown -------*/
.dropdown{
  border: 1px solid blue;
  width: 6vw;
  height: 5vw;
  position: relative;
  float: right;
  background-color: white;

}

.dropdown-open{
  border: 1px solid blue;
  position: relative;
  float: right;
  background-color: white;
  width:30vw;
  height: 35vw;
  top: 5vw;
  z-index: 1;

  .listItem{
    display: inline-block;
  }
.icon{
  display: none;
}
}

.dropdown-btn{
  height: 4vw;
  width: 4vw;
}

.listItem{
  border: 1px solid black;
  display: none;
  width: 29vw;
  margin: 3px;
  margin-left: 2px;
  height: 4vw;
  background-color: lightgrey;
}

  /*Dropdown animation*/
  

/*------- End of dropdown -------*/

/*Progress Bars*/
.progress{
  border: 2px outset lightgray;
  height: 2vw;
  width: 20vw;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;

  p{
    position: relative;
    padding: 0;
    margin: 0;
    float: left;
    left: 30%;
    margin-left: auto;
    margin-right: auto;
  }

}

.bar{
  height: 2vw;
  width: 20vw;
  margin: 0;
  background-position-y: -10px;
  background-color: lighten(gray, 10%);
}

/*Default Styling*/
.default{
  background-color: slategray;
}

.default-nav{
  background-color: slategray;
  border: 4px outset gray;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, slategray 30%, darkblue);
}

/*End of Default*/

/*positioning*/

.right{
  position: relative;
  float: right;
}

.right-center{
  top: 10%;
  position: relative;
  float: right;
  right: 1vw;
}
