/*Global Styles*/

  /*Classes*/
.navbar{
  border: 1px solid black;
  height: 5vw;
}

.icon{
  height: 5vw;
  position: relative;
  left: 7px;
}

/*------- Dropdown -------*/
.dropdown{
  border: 1px solid blue;
  width: 6vw;
  height: 5vw;
  position: relative;
  float: right;
  background-color: white;

}

.dropdown-open{
  border: 1px solid blue;
  position: relative;
  float: right;
  background-color: white;
  width:30vw;
  height: 35vw;
  top: 5vw;

  .listItem{
    display: inline-block;
  }
.icon{
  display: none;
}
}

.dropdown-btn{
  height: 4vw;
  width: 4vw;
}

.listItem{
  border: 1px solid black;
  display: none;
  width: 29vw;
  margin: 3px;
  margin-left: 2px;
  height: 4vw;
  background-color: lightgrey;
}

  /*Dropdown animation*/
  

/*------- End of dropdown -------*/
/*positioning*/

.right{
  position: relative;
  float: right;
}

.right-center{
  top: 10%;
  position: relative;
  float: right;
  right: 1vw;
}